apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins-storage-pv
  namespace: jenkins
spec:
  storageClassName: k8s-nfs
  claimRef:
    name: jenkins-storage-pv-claim
    namespace: jenkins
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  nfs: 
    path: YOUR_NFS_SHARE_PATH
    server: YOUR_NFS_SERVER_IP
    readOnly: false